.table-container {
  max-width: 1000px;
  margin: 50px auto;
  background-color: transparent !important;
  border: none !important;
  box-shadow: none;
}

table {
  width: 100%;
  background-color: transparent !important;
  border-collapse: collapse;
  border: none !important;
}

th {
  padding: 12px;
  text-align: left;
  font-weight: bold;
  background-color: transparent !important;
  border-bottom: 1px solid #7d909b !important;
  color: #ec6504 !important;
}

td {
  padding: 12px;
  text-align: left;
  background-color: transparent !important;
  border-bottom: 1px solid #7d909b !important;
  color: #ffffff !important;
}

tr:nth-child(even),
tr:nth-child(odd) {
  background-color: transparent !important;
}

button {
  padding: 6px 12px;
  background-color: #ec6504;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  color: #ffffff;
}

button:hover {
  background-color: #b00e1e;
}

button:focus {
  outline: none;
}

.MuiTablePagination .MuiTablePagination-caption {
  color: #ec6504 !important;
}

.MuiTablePagination-select,
.MuiTablePagination-selectIcon,
.MuiTablePagination-actions button,
.MuiTableSortLabel-root,
.MuiTableSortLabel-iconDirectionAsc,
.MuiTableSortLabel-iconDirectionDesc {
  color: #ec6504 !important;
}

.MuiTablePagination-actions button:hover {
  background-color: #ec6504 !important;
  color: white !important;
}

.MuiTablePagination-root {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
}

.MuiTablePagination-select {
  background-color: transparent !important;
  border: 1px solid #ec6504 !important;
  color: #ec6504 !important;
  border-radius: 4px;
  padding: 4px 8px;
}

.MuiTableSortLabel-root {
  color: #ec6504 !important;
}

.MuiDialog-paper {
  background-color: #333333 !important;
  border-radius: 8px;
  padding: 20px;
  max-width: 500px;
  margin: 20px auto;
  color: #ffffff;
}

.MuiDialogTitle-root {
  font-size: 24px;
  font-weight: bold;
  color: #ec6504;
  text-align: center;
  padding-bottom: 20px;
}

.MuiDialogContent-root {
  display: flex;
  flex-direction: column;
}

.MuiTextField-root {
  margin-bottom: 20px;
}

.MuiInputBase-root {
  color: #ffffff;
}

.MuiInputLabel-root {
  color: #ec6504 !important;
}

.MuiOutlinedInput-root {
  background-color: #f0f0f0 !important; 
  border-radius: 4px;
  border: 1px solid #7d909b; 
}

.MuiOutlinedInput-root.Mui-focused {
  border-color: #ec6504 !important; 
  background-color: #a19898 !important; 
}

.MuiOutlinedInput-input {
  color: #ffffff; 
}

.MuiInputLabel-root.Mui-focused {
  color: #ec6504 !important; 
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #ec6504 !important;
}

.MuiDialogActions-root {
  display: flex;
  justify-content: space-between;
}

.MuiButton-root {
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: bold;
}

.MuiButton-root.MuiButton-text {
  color: #ec6504;
  border: 2px solid #ec6504;
}

.MuiButton-root.MuiButton-text:hover {
  background-color: #e8853e;
  color: white;
}

.MuiButton-root.MuiButton-text:focus {
  outline: none;
}

.MuiButton-root.MuiButton-contained {
  background-color: #ec6504;
  color: #ffffff;
}
